{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!-- book_request.html content starts here -->
<div class="container">
    <div class="row justify-content-center remove-gutters">
        <div class="col-12 col-md-6 my-5">
            <h2>Request a book!</h2>
            {% if user.is_authenticated %}
            <p>Your input is essential in helping us expand our literary 
                collection. If there's a book you'd like to see on our
                website, let us know! Fill out the form below, and
                together we can bring more great reads to our community.</p>

            <form method="post">
                {{ bookRequest_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
            {% else %}
            <div class="login-required">
                <p>You need to have an account to request a new book to be added to the library.</p>
                <p>Please log in or register an account with us.</p>
                <a class="btn btn-primary margin-right" {% if request.path == signup_url %}active{% endif %} aria-current="page"
                    href="{% url 'account_signup' %}">Create account</a>
                <a class="btn btn-primary" {% if request.path == register_url %}active{% endif %} aria-current="page"
                    href="{% url 'account_login' %}">Log in</a>
            </div>
            {% endif %}
        </div>
    </div>   
</div>

{% endblock content %}