/* styles.css */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to fill the viewport */
}

header {
    background-color: #ffffff;
    color: #333;
}

nav {
    margin: 0 auto;
    padding: 10px 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.form-inline .form-control {
    display: none;
}

.form-inline.show .form-control {
    display: inline-block;
}

.form-inline .search-icon {
    cursor: pointer;
}

.navbar .navbar-nav {
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-start; 
}

.navbar .navbar-nav .nav-item {
    margin-left: 10px; 
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.navbar-nav .nav-item .nav-link {
    font-size: 16px;
    color: #333;
}

.navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
    color: #cd96ff;
}

main {
    flex-grow: 1;
    padding: 10px 0px 20px 0px;
    margin: 0;
    background-color: #ffffff;
}

/* Footer Styles */
footer {
    background-color: #000000;
    color: #fff;
    padding: 30px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1 1 100%;
    margin-bottom: 20px;
    padding: 0 20px;
}

/* Footer Column 1 */
.site-logo img {
    max-width: 250px;
}

.site-description {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.social-links {
    margin-top: 10px;
}

.social-link {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.social-link:hover {
    color: #acdbdc;
}

/* Footer Column 2 */
.page-links {
    list-style-type: none;
    padding: 0;
}

.page-links li {
    margin-bottom: 5px;
}

.page-links a {
    color: #d5d8d9;
    text-decoration: none;
    font-size: 14px;
}

.page-links a:hover {
    color: #acdbdc;
}

/* Footer Column 3 */
.contact-details {
    list-style-type: none;
    padding: 0;
    font-size: 14px;
}

.contact-details p {
    color: #d5d8d9;
}

.footer-column h3{
    font-size: 24px;
    border-bottom: 1.5px solid;
    padding-bottom: 10px;
}

/* Footer Copyright Row */
.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
}

/* Homepage Styles */
/* Title banner styles*/
.title-banner {
    max-width: 1400px;
    width: 100%;
    margin-top: 10px;
}

.banner-text-box {
    text-align: center;
    margin: 10px 8% 30px 8%; 
}

.banner-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.banner-text-box .btn {
    margin-bottom: 10px;
}

.banner-text-box h1 {
    margin-bottom: 1.5rem;
}

.remove-gutters{
    --bs-gutter-x: 0rem;
}

/* discover bookshelf banner styles */
.bookshelf-discovery-section {
    text-align: center;
    max-width: 1200px; 
    margin-top: 50px;
}

.bookshelf-discovery-section h4 {
    margin-bottom: 20px;
}

.bookshelf-section {
    overflow-x: auto; 
    white-space: nowrap;
    padding: 30px 20px 20px 20px; 
}

.bookshelf-section .row {
    display: flex; 
    flex-wrap: nowrap; 
    margin-left: -10px; 
    margin-right: -10px; 
}

.bookshelf-btn1 {
    display: none;
}

.bookshelf-btn2 {
    display: flex;
    justify-content: center;
    margin: 20px 0 40px 0;
}

.col-lg-4 {
    display: inline-block; 
    vertical-align: top;
    white-space: normal; 
    width: auto;
}

.bookshelf-box {
    max-width: 360px; 
    height: 585px;
    display: inline-block; 
    vertical-align: top;
    border: 1.5px solid #c6c6c6; 
    padding: 20px;
    margin: 10px; 
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4); 
    border-radius: 8px; 
    text-align: center;
}

.box1 {
    background: rgba(155, 122, 242, 0.2);
    margin-right: 20px;
}

.box2 {
    background: rgba(250, 227, 233, 0.3);
    margin-right: 20px;
}

.box3 {
    background: rgba(201, 218, 252, 0.2);
}

.bookshelf-discovery-section h1 {
    margin: 0 5% 0 5%;
    font-weight: bold;
}

.bookshelf-box img.box-image {
    width: 100%; 
    height: auto; 
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px; 
}

.bookshelf-box h2 {
    font-size: 1.5rem; 
    margin-bottom: 10px; 
}

.bookshelf-box p {
    font-size: 1rem; 
}


/* Display featured books section */
.home-display-books {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000;
    padding: 10px 0 10px 0;
}

.display-text {
    color: white;
}

.book-carousel {
    display: flex;
    justify-content: center;
}

.books-slider {
    padding: 5px;
    display: flex;
    max-width: 1220px;
    position: relative; 
    width: 100%;
}

.home-book-grid {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    scroll-behavior: smooth; 
}

.home-book-grid::-webkit-scrollbar {
    display: none; 
}

.book-arrow {
    display: none;
}

.book-order {
    flex: 0 0 auto; 
    width: 140px; 
    overflow: hidden;
}

.home-card {
    background-color: #333333;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    position: relative;
    width: 140px;
    display: inline-block; 
    vertical-align: top; 
}

.book-order:hover {
    transform: scale(1.04);
}

.card-head {
    background-color: #1a1a1a;
    width: 140px;
}

.card-head-text {
    margin: 2% 2% 0 2%;
}

.book-cover-container {
    width: 140px;
}

.book-cover-container img {
    height: 140px;
    width: auto;
    overflow: hidden; 
}

.home-title, .home-author {
    display: block;
    color: #fff;
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
    display: block;
    margin: 0;  
}

.card-star-icon {
    color: #fff;
}

#average-rating p {
    color: #fff;
    padding-left: 5px;
    margin-bottom: 5px;
    font-size: small;
}

.card-foot {
    background-color: #1a1a1a;
    width: 140px;
    text-align: left;
}

.card-foot-text {
    margin: 5px 5px;
    font-size: small;
    overflow: hidden;
}


/* Books banner section */
.books-banner {
    max-width: 1200px;
    margin-top: 30px;
    padding-top: 10px;
}

.books-banner img {
    max-height: 500px;
}


/* Missing any books styles */
.missingbook-banner {
    position: relative;
    max-height: 600px;
    margin-top: 35px;
}

.image-position {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.missing-image-container {
    position: relative;
    width: 100%;
}

.missingbook-image-1,
.missingbook-image-2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    min-height: 300px;
}

.missingbook-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: space-around;
    justify-items: center;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    width:75%;
    max-width: 90%;
    text-align: center;
    z-index: 1;
}

.hidden-container {
    display:none;
}

/* Account Features section */
.features-banner{
    max-width: 1400px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.features-img {
    padding-bottom: 30px;
}

.feature-item {
    text-align: left;
    border-left: 2px solid #cd96ff;
    padding-left: 15px;
    margin-bottom: 20px;
}

/* book_list template */
/* list of displayed books section */
.display-books {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 1400px;
}

.display-text {
    max-width: 800px;
    display: inline-block;
}

.no-underline {
    text-decoration: none;
}

.no-underline:hover {
    text-decoration: none;
}

.form-container {
    background-color: #f5f5e0; 
    border: 2px solid #161616; 
}

.book-grid {
    display: inline-grid;
    max-width: 1600px;
}

.card {
    border: 2px solid rgba(154, 121, 238, 0.2);
    background-color: rgba(250, 227, 233, 0.35);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
    height: 190px;
    position: relative;
    max-width: 600px;
    min-width: 315px;
}

.scale-card:hover {
    transform: scale(1.04);
}

.card-body { 
    overflow: hidden;
    padding: 15px 15px;
}

.image-container img {
    height: auto; 
    min-height: 140px;
    max-height: 155px; 
    overflow: hidden; 
}

.title, .author{
    color: #333;
}

#genreFilterForm {
    margin-bottom: 20px;
}

.genre-form-label {
    color:#030303;
}

/* book_details template */
/* return to previous page button styles */
.return-button {
    position: relative;
    margin-bottom: 10px;
}

.back-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background-color: rgba(255, 255, 255, 0.70); 
    border: none;
    color: #333; 
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #c5fcff;
}

.back-button i {
    position: relative;
}

/* Styles for star icons display */
.title {
    margin-top: 5px;
}

.book-star-ratings {
    display: inline-block;
    position: relative;
    font-size: 24px;
    color: #777777;
}

.star-ratings-background{
    position: absolute;
    top: 0;
    left: 0;
}

.star-ratings-foreground {
    position: relative;
    top: 0;
    left: 0;
}

.star-ratings-background .book-stars,
.star-ratings-foreground .book-stars {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.book-stars li {
    display: inline-block;
    text-align: center;
}

.book-rating-star {
    color: #777777; /* Empty star colour */
}

.book-rating-star.fas {
    color: #f5c518; /* Filled star colour */
}

.book-rating-star.half-filled::before {
    content: '\f089'; /* Half-filled star icon from fontAwesome */
    display: inline-flex;
    overflow: hidden;
}

/* User Interactions Section */
.user-interactions-container {
    align-content: center;
}

/* Comment display Section */
.comment-container {
    border: 2px solid #698681;
    background-color: #f0efe2;
    padding: 15px;
    max-height: 600px;
    overflow-y: scroll;
}

.gutters {
    --bs-gutter-x: 0rem;
}

.comment-card{
    border: 2px solid #698681;
    background-color: #fff;
}

.add-comment-card{
    border: 2px solid #698681;
    background-color: #f0efe2;
    max-height: 600px;
}

/* Leave a comment section */
#id_body{
    height:150px;
}

.form-label{
    content-visibility: hidden;
}

/* User Rating Star Icons, book_details template */
.rating-stars .star-form {
    display: inline;
    padding: 1px;
}

.rating-stars .star-icon {
    font-size: 1.25rem;
    margin-right: 0.1rem;
    padding: 1px;
    color: #747474;
    border: none;
    background: none;
    cursor: pointer;
}

.star-icon {
    font-size: 24px; 
    color: #ccc; 
    cursor: pointer;
    position: relative;
}

.star-icon.filled {
    color: #f5c518; 
}

/* About us html styles */
.about-container {
    max-width: 1000px;
}

.about-title { 
    margin-bottom: 20px;
}

.rounded-image {
    border-radius: 15px;
    display: block;
    margin: 15px auto; 
    width: 100%;
    margin-bottom: 20px;
}

/* Book Request html styles */
.form-label {
    color: #333;
    content-visibility: visible;
}


/* General Buttons */
.btn-primary {
    background-color: #cd96ff;
    border-color: #cd96ff;
    color: #000000;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    font-weight: bold;
    padding: 10px 20px 10px 20px;
}

.btn-primary:hover {
    background-color: #cd96ff;
    border-color: #cd96ff;
    transform: scale(1.05); 
}

.btn-primary:focus {
    background-color: #cd96ff;
    border-color: #cd96ff;
}

.btn-secondary {
    color:#000000;
    background-color: rgb(197, 193, 255);
    border-color: rgb(197, 193, 255);
}

.btn-secondary:hover {
    background-color: rgb(197, 193, 255);
    border-color: rgb(197, 193, 255);
    transform: scale(1.05); 
}

.btn-secondary:focus {
    background-color: rgb(197, 193, 255);
    border-color: rgb(197, 193, 255);
}

.btn-danger:hover {
    transform: scale(1.05); 
}

.margin-right{
    margin-right: 20px;
}

.details {
    position: relative;
}

#bookshelf-buttons {
    position: static;
    margin-top: 10px;
}

/* Pagination Buttons */
.paginate-button {
    border: 3px solid #cd96ff;
    color: #333;
}

/* Profile page styles */
.users-bookshelf {
    max-width: 600px;
}

.user-profile {
    margin-bottom: 50px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 30px;
}

.profile-settings {
    border: 2px solid #ccc; 
    border-radius: 10px;
    padding: 30px;
    min-width: 230px;
    margin-bottom: 30px;
}

.profile-form{
    max-width: 500px; 
    width: 100%; 
}

.profile-books{
    display: block;
}

.bookshelf-interactions {
    flex-direction: column; 
    align-items: flex-start; 
    margin-top: 10px;
}

.bookshelf-form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; 
    position: relative; 
}

/* Staus dropdown form styles */
.current-status {
    color: #161616;
    margin-top: 0px;
}

.status-form {
    display: inline-block; 
}

.status-select {
    min-width: 120px;
}

.status-select {
    position: relative;
    appearance: none; 
    border: 1px solid #b4b4b4; 
    border-radius: 4px; 
    transition: all 0.3s ease; 
}

/* Styling the placeholder option */
.status-select option[disabled] {
    color: #aaa; 
}

.status-select:hover {
    border-color: #757575; 
    background-color: #f0f0f0; 
}

/* Focus effect for the select element */
.status-select:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(105, 134, 129, 0.5); 
    border-color:#345457; 
}

/* Media query for larger screens */
@media (min-width: 768px) {
    main {
        padding-top: 0px;
        margin-bottom: 20px;
    }

    .profile-icon {
        margin-left: 20px;
    }

    .status-form-left {
        order: 1;
        text-align: left;
    }
    
    .status-form-right {
        order: 2; 
    }

    .navbar .navbar-nav {
        flex-direction: row;
        justify-content: flex-end; 
        align-items: center; 
    }

    /* Homepage title Banner */
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%; 
        display: flex;
        justify-content: center;
    }

    .banner-text-box {
        padding: 0px 30px 0px 30px;
        text-align: center; 
    }

    .banner-image {
        max-width: 100%; 
        float: right; 
    }

    /* Bookshelf section - homepage */
    .bookshelf-discovery-section {
        margin-bottom: 50px;
    }

    .bookshelf-btn1 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .bookshelf-btn2 {
        display: none;
    }

    /* Homepage Books display styles */
    .book-grid {
        display: flex;
    }

    /* Homepage Missing any books styles */
    .image-position {
        flex-direction: row;
    }

    .missing-image-container {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .missingbook-image-1,
    .missingbook-image-2 {
        max-height: 600px;
        height: 100%;
    }

    .discover-banner {
        padding: 60px;
    }

    /* Books displayed on homepage */
    .book-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 60px;
        background-color: rgba(255, 255, 255, 0.649);
        color: #6d6d6d;
        font-size: 1.5em;
        cursor: pointer;
        z-index: 1;
    }

    .book-arrow.left {
        left: 0;
    }

    .book-arrow.right {
        right: 0;
    }

    /* Homepage Features section */
    .features-img {
        padding-bottom: 0;
    }

    /* Book details page styles */
    /* User Interactions section on book_details */
    .gutters {
        --bs-gutter-x: 1.5rem;
    }    

    .breakline{
        display: none;
    }

    #bookshelf-buttons {
        position: absolute;
        top: 10px;
        right: 10px;
    }  

    /* About us html section */
    .rounded-image {
        float: right;
        margin: 15px;
        width: 30%;
    }

    /* Profile page styles */
    .profile-books{
        display: flex;
        justify-content: space-between; 
        align-items: flex-start; 
    }

    .bookshelf-form-container {
        display: flex;
        flex-direction: column; 
    }

    .bookshelf-interactions {
        display: inline-block;
        margin-top: 20px;
        margin-left: auto;
        padding-left: 15px;
        text-align: right;
    }

    /* Footer set 3 columns on large screens */ 
    .footer-column {
        flex-basis: calc(33.33% - 20px);
    }
}

/* Medium screens up to 1300px */
@media (min-width: 768px) and (max-width: 1300px) {
    /* Book_list ensure two books per row */
    .col-md-6 {
        flex: 0 0 50%; 
        max-width: 50%; 
    }
}

/* Media query for large screens (min-width: 992px) */
@media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 33.3333%; 
        max-width: 33.3333%; 
    }

    .bookshelf-box {
        margin: 20px; 
        min-width: 290px;
    }
  
    .books-text {
        margin: 20px 4% 20px 4%;
    }
}
