{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- homepage.html content starts here -->

<!-- Title Banner -->
<div class="container-fluid title-banner mb-5">
    <div class="row w-100 remove-gutters align-items-center">
        <div class="col-lg-6">
            <div class="banner-text-box">
                {% if user.is_authenticated %}
                <h1><strong>Your Personal Library, Anywhere, Anytime</strong></h1>
                <p>Continue mapping and tracking your reading journey with your personal bookshelf. 
                    Discover new reads and help others in the community by sharing reviews and 
                    ratings on your favourite books.
                </p>  
                <a href="{% url 'bookshelf' %}" class="btn btn-primary">Open My Bookshelf</a>
                {% else %}
                <h1><strong>Your Personal Library, Anywhere, Anytime</strong></h1>
                <p>Sign up today and start tracking your reading journey. Create and Curate 
                    your personal bookshelf. Discover new reads and help others in the 
                    community by sharing reviews and ratings on your favourite books.
                </p>  
                <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign up for free</a>
                {% endif %}             
                
            </div>
        </div>
        <div class="col-lg-6">
            <picture>
                <img src="{% static 'images/cover-image.jpg' %}" alt="Banner Image" class="banner-image">
            </picture>
        </div>
    </div>
</div>

<!-- Discover the bookshelf banner -->
{% if not user.is_authenticated %}
<div class="container-fluid bookshelf-discovery-section">
    <h2><strong>Virtual Bookshelves</strong></h2>
    <h4>Discover the power of creating and curating your own virtual bookshelf</h4>
    <div class="bookshelf-btn1">
        {% if user.is_authenticated %}
        <a href="{{ profile_page_url }}" class="btn btn-primary">Open My Bookshelf</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="btn btn-primary">Create an account</a>
        {% endif %}
    </div>
    <div class="bookshelf-section">
        <div class="row w-100 remove-gutters">
            <div class="col-lg-4">
                <div class="bookshelf-box box1">
                    <img src="{% static 'images/digital-shelf.jpg' %}" alt="bookshelf on a mobile screen" class="box-image">
                    <h2>All Your Books in One Place</h2>
                    <p>With BookTalk, your bookshelf is more than just a list of titles. It's a comprehensive record of your reading journey. Store all the books you have read, are currently reading, and want to read in the future, all in one easy-to-access spot.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bookshelf-box box2">
                    <img src="{% static 'images/reading.jpg' %}" alt="lady reading a book" class="box-image">
                    <h2>Personalize Your Reading Experience</h2>
                    <p>Add personal notes for each book to capture your thoughts, insights, and memorable quotes. Your notes are stored forever, making it easy to revisit and reflect on your reading experience whenever you want.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bookshelf-box box3">
                    <img src="{% static 'images/organised.jpg' %}" alt="organised calendar" class="box-image">
                    <h2>Stay Organized and Inspired</h2>
                    <p>Keep your reading life organized and inspire others by sharing your bookshelf and notes. Whether you're a casual reader or a dedicated bookworm, BookTalk helps you make the most of your reading journey.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bookshelf-btn2">
        {% if user.is_authenticated %}
        <a href="{{ profile_page_url }}" class="btn btn-primary">Open My Bookshelf</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="btn btn-primary">Create an account</a>
        {% endif %}
    </div>
</div>
{% endif %}


<!-- Display books for all user -->
<div class="home-display-books">
    <div class="row w-100">
        <div class="container mt-4 mb-4">
            <div class="display-text">
                <h2 class="mb-4"><strong>Find your next Read</strong></h2>
                <p>Dive into our extensive collection and explore detailed reviews and ratings from our vibrant
                    community of readers. Use our personalized recommendation engine to find books tailored to
                    your tastes and join the conversation by sharing your own insights.</p>
            </div>

            <div class="book-carousel">
                <div class="books-slider">
                    <!-- Left arrow -->
                    <div class="book-arrow left" onclick="scrollBooks('left')">&#8249;</div>
                    <!-- Book grid -->
                    <div class="home-book-grid">
                        <!-- If there are no books to display -->
                        {% if not book_list %}
                            <p>No books available at the moment.</p>
                        {% endif %}
                        <!-- Create a card display for each book -->
                        {% for book in book_list %}
                        <div class="book-order">
                            <div class="home-card">
                                <div class="home-card-body">
                                    <a href="{% url 'book_detail' book.slug %}" class="book-link no-underline">
                                        <div class="d-grid">
                                            <div class="card-head d-flex">
                                                <div class="card-head-text">
                                                    <!-- Display books text rating -->
                                                    <div id="average-rating">
                                                        {% if book.average_rating == None %}
                                                            <p>No ratings</p>
                                                        {% else %}
                                                            <p><i class="fas fa-star card-star-icon"></i> {{ book.average_rating }}</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Use a default book cover image if it has no cover image in the database -->
                                            <div class="book-cover-container mt-2 mb-2">
                                                {% if book.cover_image.url == 'https://res.cloudinary.com/dmnnucsdm/image/upload/placeholder' %}
                                                <img class="img-fluid" src="{% static 'images/book_default.jpg' %}" alt="placeholder Image" style="max-width: 100px;">
                                                {% else %}
                                                <img class="img-fluid" src="{{ book.cover_image.url }}" alt="{{ book.title }}" style="max-width: 100px;">
                                                {% endif %}
                                            </div>
                                            <!-- Display basic book details -->
                                            <div class="card-foot flex-grow-1">
                                                <div class="card-foot-text">
                                                    <p class="home-title mb-1">{{ book.title }}</p>
                                                    <p class="home-author mb-1">- {{ book.author }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Right arrow -->
                    <div class="book-arrow right" onclick="scrollBooks('right')">&#8250;</div>
                </div>
            </div>

            <!-- See all books button -->
            <div class="row">
                <div class="col-12 text-center mt-4">
                    <a href="{% url 'books' %}" class="btn btn-primary">See all books</a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Missing any books section for authenticated user -->
{% if user.is_authenticated %}
<div class="container-fluid books-banner">
    <div class="row w-100 remove-gutters align-items-center">
        <div class="col-lg-6">
            <div class="banner-text-box books-text">
                <h1><strong>Missing Your Favourite Book?</strong></h1>
                <p>No Problem! Send in your book recommendations so we can keep 
                    the BookTalk library up to date
                </p>               
                <a href="{% url 'book_request' %}" class="btn btn-primary">Request a Book</a>
            </div>
        </div>
        <div class="col-lg-6">
            <picture>
                <img src="{% static 'images/phone-shelf.jpg' %}" alt="digital bookshelf image" class="banner-image">
            </picture>
        </div>
    </div>
</div>

{% else %}
<div class="container-fluid features-banner">
    <div class="row w-100 remove-gutters align-items-center">
        <div class="col-lg-6 features-img">
            <picture>
                <img src="{% static 'images/reading-in-chair-rec.jpg' %}" alt="digital bookshelf image" class="banner-image">
            </picture>
        </div>

        <div class="col-lg-6">
            <div class="banner-text-box books-text">
                <ul class="feature-item">                
                    <h5><strong>Explore an endless library of books</strong></h5>
                    <p>Enjoy an ever expanding inventory of books. everything for old classics
                        through to the latest releases.  
                    </p>     
                </ul>
                <ul class="feature-item">                
                    <h5><strong>Rate, review and discuss</strong></h5>
                    <p>Help the community that helps you by leaving reviews and ratings
                        on your favourite books.  
                    </p>
                </ul>          
                <ul class="feature-item">                
                    <h5><strong>Free to use</strong></h5>
                    <p>No sign up or subscription fees ever! and if your BookTalk is not 
                        for you simply delete your free account. 
                    </p>
                </ul>
            </div>           
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
