{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- homepage.html content starts here -->

<!-- Title Banner -->
<div class="container-fluid title-banner">
    <div class="row w-100 remove-gutters align-items-center">
        <div class="col-lg-6">
            <div class="banner-text-box">
                <h1><strong>Your Personal Library, Anywhere, Anytime</strong></h1>
                <p>Sign up today and start tracking your reading journey. Create and Curate 
                    your personal bookshelf. Discover new reads and help others in the 
                    community by sharing reviews and ratings on your favourite books.
                </p>               
                <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign up for free</a>
            </div>
        </div>
        <div class="col-lg-6">
            <picture>
                <img src="{% static 'images/cover-image.jpg' %}" alt="Banner Image" class="banner-image">
            </picture>
        </div>
    </div>
</div>

<!--Discover the bookshelf banner-->
<div class="container-fluid bookshelf-discovery-section">
    <h1>Discover the Power of Your Bookshelf</h1>
    <div class="bookshelf-section">
        <div class="row w-100 remove-gutters">
            <div class="col-lg-4">
                <div class="bookshelf-box box1">
                    <img src="{% static 'images/digital-shelf.jpg' %}" alt="bookshelf on a mobile screen" class="box-image">
                    <h2>All Your Books in One Place</h2>
                    <p>With BookTalk, your bookshelf is more than just a list of titles. It's a comprehensive record of your reading journey. Store all the books you have read, are currently reading, and want to read in the future, all in one easy-to-access spot.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bookshelf-box box2">
                    <img src="{% static 'images/reading.jpg' %}" alt="lady reading a book" class="box-image">
                    <h2>Personalize Your Reading Experience</h2>
                    <p>Add personal notes for each book to capture your thoughts, insights, and memorable quotes. Your notes are stored forever, making it easy to revisit and reflect on your reading experience whenever you want.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bookshelf-box box3">
                    <img src="{% static 'images/organised.jpg' %}" alt="organised calendar" class="box-image">
                    <h2>Stay Organized and Inspired</h2>
                    <p>Keep your reading life organized and inspire others by sharing your bookshelf and notes. Whether you're a casual reader or a dedicated bookworm, BookTalk helps you make the most of your reading journey.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Display books -->
<div class="container-fluid display-books">
    <div class="row">
        <div class="container mt-5">
            <h1 class="mb-4">Top Rated Books</h1>
            <!-- If there are no books to display -->
            {% if not book_list %}
                <p>No books available at the moment.</p>
            {% endif %}
            <div class="row book-grid">
                <!-- Create a card display for each book -->
                {% for book in book_list %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'book_detail' book.slug %}" class="book-link no-underline">
                                <div class="d-flex">
                                    <!-- Use a default book cover image if it has no cover image in the database -->
                                    <div class="image-container me-3">
                                        {% if book.cover_image.url == 'https://res.cloudinary.com/dxtaxsd1v/image/upload/placeholder' %}
                                        <img class="img-fluid" src="{% static 'images/book_default.jpg' %}" alt="placeholder Image" style="max-width: 100px;">
                                        {% else %}
                                        <img class="img-fluid" src="{{ book.cover_image.url }}" alt="{{ book.title }}" style="max-width: 100px;">
                                        {% endif %}
                                    </div>
                                    <!-- Display basic book details -->
                                    <div class="flex-grow-1">
                                        <h4 class="title mb-1">{{ book.title }}</h4>
                                        <p class="author mb-1">Author: {{ book.author }}</p>
                                        <p class="card-text text-muted h6 mb-0">Published in: {{ book.published_year }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- See all books button -->
            <div class="row">
                <div class="col-12 text-center mt-4">
                    <a href="{% url 'books' %}" class="btn btn-primary">See all books</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Missing any books section-->
<div class="missingbook-banner">
    <div class="row w-100 remove-gutters">
        <div class="col-lg-12 d-flex p-0 image-position">
            <div class="missing-image-container">
                <img src="{% static 'images/books-logo-purple.png' %}" alt="Missing your favourite book image" class="missingbook-image-1">
                <div class="missingbook-text-box">
                    <h2>Missing Your Favourite Book?</h2>
                    <p>No Problem! Send in your book recommendations so we can keep the BookTalk library up to date</p>
                    <a href="{% url 'book_request' %}" class="btn btn-primary">Request a Book</a>
                </div>
            </div>
            <div class="missing-image-container hidden-container">
                <img src="{% static 'images/reading-with-cat.jpg' %}" alt="Missing your favourite book image" class="missingbook-image-2">
            </div>
        </div>
    </div>
</div>

{% endblock %}
