{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container mt-3">
    <div class="profile-container">
        <div class="user-profile">
            <div class="profile-settings">
                <h1>User Profile</h1>
                <form method="post" class="profile-form">
                    <input type="hidden" name="profile_form" value="profile_form">
                    {{ form | crispy }}
                    {% csrf_token %}
                    <button class="btn btn-secondary mb-3" type="submit">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

